html,body{height: 100%;margin:0;width:100%;}

.gris{background-color: #EBEBEB;
}

.col-md-4{

	border-style: solid;border-color: white;

}

.navbar .navbar-nav>li>a{color:black;}


.navbar-brand{margin-left: 13%;}
.espace1{text-indent:50px; }
.espace2{word-spacing: 20px;}
.espace3{text-indent: 150px;}

footer{background-color:#EBEBEB;}


.colorforced>ul>li>p>a{color:#7c7c7c;}

p{color:black;}
.titrecolor{color:black;}